#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0,0

LANGUAGE 0,0

DLG_MAIN DIALOGEX 0,0,500,400
CAPTION "Dialog"
FONT 8,"Ms Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER|DS_SETFONT|DS_3DLOOK
EXSTYLE WS_EX_APPWINDOW|WS_EX_WINDOWEDGE
BEGIN
END

1 MANIFEST "./manifest.xml"

